@{
    this.ViewData["ActivePage"] = MovieNavPages.Movies;
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-md-3">
            <ul class="nav nav-pills nav-stacked">
                <li class="@MovieNavPages.CreateMovieNavClass(ViewContext)"><a asp-controller="Movies" asp-action="Create">Create Movie</a></li>
                <li class="@MovieNavPages.GetAllNavClass(ViewContext)"><a asp-controller="Movies" asp-action="GetAll">All Movies</a></li>
            </ul>
        </div>
    </div>
</div>