@{
    this.ViewData["Title"] = "Page not found";
}

    <br />
    <div class="container-fluid text-center">
        <img src="~/images/404.png" />
        <p class="lead">The page you are looking for might have been removed<br /> had its name changed or is temporarily unavailable.</p>
        <p class="lead">
            <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index" role="button">Go to Home Page</a>
        </p>
    </div>
