@using CineMagic.Common

<!DOCTYPE html>
<html lang="en">
<head>
    <title>@this.ViewData["Title"] - @GlobalConstants.SystemName</title>

    <!-- for-mobile-apps -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="In The Action" />

    <script type="application/x-javascript">
        addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false);
               function hideURLbar(){ window.scrollTo(0,1); }
    </script>

    <link href="~/css/bootstrap.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/basictable.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/easy-responsive-tabs.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/font-awesome.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/list.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/owl.carousel.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/popuo-box.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/table-style.css" rel="stylesheet" asp-append-version="true" />
    <link href="~/css/zoomslider.css" rel="stylesheet" asp-append-version="true" />
    <script src="~/js/modernizr-2.6.2.min.js" asp-append-version="true"></script>
</head>
<body>
    <script>
        window.ga = window.ga || function () { (ga.q = ga.q || []).push(arguments) }; ga.l = +new Date;
        ga('create', 'UA-149859901-1', 'demo.w3layouts.com');
        ga('require', 'eventTracker');
        ga('require', 'outboundLinkTracker');
        ga('require', 'urlChangeTracker');
        ga('send', 'pageview');
    </script>

    <meta name="robots" content="noindex">
    <!-- New toolbar-->
    <style>
        * {
            box-sizing: border-box;
            font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
        }

        #w3lDemoBar.w3l-demo-bar {
            top: 0;
            right: 0;
            bottom: 0;
            z-index: 9999;
            padding: 40px 5px;
            padding-top: 70px;
            margin-bottom: 70px;
            background: #0D1326;
            border-top-left-radius: 9px;
            border-bottom-left-radius: 9px;
        }

            #w3lDemoBar.w3l-demo-bar a {
                display: block;
                color: #e6ebff;
                text-decoration: none;
                line-height: 24px;
                opacity: .6;
                margin-bottom: 20px;
                text-align: center;
            }

            #w3lDemoBar.w3l-demo-bar span.w3l-icon {
                display: block;
            }

            #w3lDemoBar.w3l-demo-bar a:hover {
                opacity: 1;
            }

            #w3lDemoBar.w3l-demo-bar .w3l-icon svg {
                color: #e6ebff;
            }

            #w3lDemoBar.w3l-demo-bar .responsive-icons {
                margin-top: 30px;
                border-top: 1px solid #41414d;
                padding-top: 40px;
            }

            #w3lDemoBar.w3l-demo-bar .demo-btns {
                border-top: 1px solid #41414d;
                padding-top: 30px;
            }

            #w3lDemoBar.w3l-demo-bar .responsive-icons a span.fa {
                font-size: 26px;
            }

            #w3lDemoBar.w3l-demo-bar .no-margin-bottom {
                margin-bottom: 0;
            }

        .toggle-right-sidebar span {
            background: #0D1326;
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            color: #e6ebff;
            border-radius: 50px;
            font-size: 26px;
            cursor: pointer;
            opacity: .5;
        }

        .pull-right {
            float: right;
            position: fixed;
            right: 0px;
            top: 70px;
            width: 90px;
            z-index: 99999;
            text-align: center;
        }
    </style>

    <!--/main-header-->
    <!--/banner-section-->
    @if (this.Context.Request.Path == "/")
    {
        <partial name="_BannerSectionPartial" />
    }
    else
    {
        <partial name="_NoBannerSectionPartial" />
    }
    <!--/banner-section-->
    <!--//main-header-->
    <!--/banner-bottom-->
    <div class="w3_agilits_banner_bootm">
        <div class="w3_agilits_inner_bottom">
            <div class="col-md-6 wthree_agile_login">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 009 455 4088</li>
                    <li><a href="#" class="login" data-toggle="modal" data-target="#myModal4">Login</a></li>
                    <li><a href="#" class="login reg" data-toggle="modal" data-target="#myModal5">Register</a></li>
                </ul>
            </div>
        </div>
    </div>
    <!--//banner-bottom-->

    <partial name="_AjaxLoginPartial" />
    <partial name="_AjaxRegisterPartial" />

    <partial name="_CookieConsentPartial" />
    <main role="main" class="pb-3">
        @this.RenderBody()
    </main>

    <partial name="_FooterPartial" />

    <script src="~/js/jquery-1.11.1.min.js" asp-append-version="true"></script>
    <!-- Dropdown-Menu-JavaScript -->
    <script>
        $(document).ready(function () {
            $(".dropdown").hover(
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideDown("fast");
                    $(this).toggleClass('open');
                },
                function () {
                    $('.dropdown-menu', this).stop(true, true).slideUp("fast");
                    $(this).toggleClass('open');
                }
            );
        });
    </script>
    <!-- //Dropdown-Menu-JavaScript -->

    <script src="~/js/jquery.zoomslider.min.js" asp-append-version="true"></script>

    <!-- search-jQuery -->
    <script src="~/js/main.js" asp-append-version="true"></script>
    <script src="~/js/simplePlayer.js" asp-append-version="true"></script>
    <script>
        $("document").ready(function () {
            $("#video").simplePlayer();
        });
    </script>
    <script>
        $("document").ready(function () {
            $("#video1").simplePlayer();
        });
    </script>
    <script>
        $("document").ready(function () {
            $("#video2").simplePlayer();
        });
    </script>
    <script>
        $("document").ready(function () {
            $("#video3").simplePlayer();
        });
    </script>

    <!-- pop-up-box -->
    <script src="~/js/jquery.magnific-popup.js" asp-append-version="true"></script>
    <!--//pop-up-box -->

    <div id="small-dialog1" class="mfp-hide">
        <iframe src="https://www.imdb.com/video/vi4144939033?ref_=hm_hp_i_5&listId=ls053181649"></iframe>
    </div>
    <div id="small-dialog2" class="mfp-hide">
        <iframe src="https://player.vimeo.com/video/165197924?color=ffffff&title=0&byline=0&portrait=0"></iframe>
    </div>
    <script>
        $(document).ready(function () {
            $('.w3_play_icon,.w3_play_icon1,.w3_play_icon2').magnificPopup({
                type: 'inline',
                fixedContentPos: false,
                fixedBgPos: true,
                overflowY: 'auto',
                closeBtnInside: true,
                preloader: false,
                midClick: true,
                removalDelay: 300,
                mainClass: 'my-mfp-zoom-in'
            });
        });
    </script>
    <script src="~/js/easy-responsive-tabs.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $('#horizontalTab').easyResponsiveTabs({
                type: 'default', //Types: default, vertical, accordion
                width: 'auto', //auto or any width like 600px
                fit: true,   // 100% fit in a container
                closed: 'accordion', // Start closed if in accordion view
                activate: function (event) { // Callback function if tab is switched
                    var $tab = $(this);
                    var $info = $('#tabInfo');
                    var $name = $('span', $info);
                    $name.text($tab.text());
                    $info.show();
                }
            });
            $('#verticalTab').easyResponsiveTabs({
                type: 'vertical',
                width: 'auto',
                fit: true
            });
        });
    </script>
    <script src="~/js/owl.carousel.js" asp-append-version="true"></script>
    <script>
        $(document).ready(function () {
            $("#owl-demo").owlCarousel({

                autoPlay: 3000, //Set AutoPlay to 3 seconds
                autoPlay: true,
                navigation: true,
                items: 5,
                itemsDesktop: [640, 4],
                itemsDesktopSmall: [414, 3]

            });
        });
    </script>

    <!--/script-->
    <script src="~/js/move-top.js" asp-append-version="true"></script>
    <script src="~/js/easing.js" asp-append-version="true"></script>

    <script type="text/javascript">
        jQuery(document).ready(function ($) {
            $(".scroll").click(function (event) {
                event.preventDefault();
                $('html,body').animate({ scrollTop: $(this.hash).offset().top }, 900);
            });
        });
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            /*
            var defaults = {
                    containerID: 'toTop', // fading element id
                containerHoverID: 'toTopHover', // fading element hover id
                scrollSpeed: 1200,
                easingType: 'linear'
                };
            */
            $().UItoTop({ easingType: 'easeOutQuart' });
        });
    </script>
    <!--end-smooth-scrolling-->
    <script src="~/js/bootstrap.js" asp-append-version="true"></script>

    @this.RenderSection("Scripts", required: false)
</body>
</html>