@using CineMagic.Common
@using CineMagic.Data.Models
@using Microsoft.AspNetCore.Identity
@using CineMagic.Web.ViewModels.InputModels.Users
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (this.SignInManager.IsSignedIn(this.User))
{
    <div class="w3_agilits_banner_bootm">
        <div class="col-md-6 wthree_agile_login">
            <ul>
                <li>
                    <a id="banner_logged" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Hello, @this.User.Identity.Name!</a>
                </li>
                <li class="nav-item">
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@(this.Url.Action("Index", "Home", new { area = string.Empty }))">
                        <button id="logout_button" type="submit">Logout</button>
                        @if (this.User.IsInRole(GlobalConstants.AdministratorRoleName) && !this.Context.Request.Path.ToString().Contains("Administration"))
                        {
                            <a id="logout_button" style="background-color:#02a388" asp-area="Administration" asp-controller="Dashboard" asp-action="Index">Admin Area</a>
                        }
                    </form>
                </li>
            </ul>
        </div>
    </div>
}
else
{
    <div class="w3_agilits_banner_bootm">
        <div class="w3_agilits_inner_bottom">
            <div class="col-md-6 wthree_agile_login">
                <ul>
                    <li><i class="fa fa-phone" aria-hidden="true"></i> (+000) 009 455 4088</li>
                    <li><a href="#" class="login" data-toggle="modal" data-target="#myModal4">Login</a></li>
                    <li><a href="#" class="login reg" data-toggle="modal" data-target="#myModal5">Register</a></li>
                </ul>
            </div>
        </div>
    </div>

    <partial name="_AjaxLoginPartial" model=" new AjaxLoginInputModel()" />
    <partial name="_AjaxRegisterPartial" model=" new AjaxRegisterInputModel()" />
}