@{
    this.ViewData["Title"] = "Contacts";

}

<br />
<div class="container-fluid text-center">
    <h1 class="display-4"><span>Thank you for contacting us.</span></h1>
    <br />
    <p class="lead">We have received your enquiry and will respond to you within 24 hours.</p>
    <br />
    <p class="lead">
        <a class="btn btn-primary btn-lg" asp-controller="Home" asp-action="Index" role="button">Go to Home Page</a>
    </p>
</div>
