@using CineMagic.Web.ViewModels.Movies
@model HomePageViewModelsList

@if (Model.BannerSectionMovie != null)
{
    <div id="demo-1" data-zs-src='[@Model.BannerSectionMovie.Backdrops]' data-zs-overlay="dots">
        <div class="demo-inner-content">
            <!--/header-w3l-->
            <div class="header-w3-agileits" id="home">
                <div class="inner-header-agile">
                    <nav class="navbar navbar-default">
                        <div class="navbar-header">
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                                <span class="sr-only">Toggle navigation</span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                            <h1><a asp-controller="Home" asp-action="Index"><span>C</span>ine<span>M</span>agic</a></h1>
                        </div>
                        <partial name="_NavbarPartial" />
                        <div class="clearfix"> </div>
                    </nav>
                    <div class="w3ls_search">
                        <div class="cd-main-header">
                            <ul class="cd-header-buttons">
                                <li><a class="cd-search-trigger" href="#cd-search"> <span></span></a></li>
                            </ul> <!-- cd-header-buttons -->
                        </div>
                        <div id="cd-search" class="cd-search">
                            <form action="#" method="post">
                                <input name="Search" type="search" placeholder="Search...">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <!--//header-w3l-->
            <!--/banner-info-->
            <div class="baner-info">
                <h3>Popular Today</h3>
                <h4>@Model.BannerSectionMovie.Title</h4>
                <a class="w3_play_icon1" asp-controller="Movies" asp-action="Details" asp-route-id="@Model.BannerSectionMovie.Id">
                    See Details 
                </a>
            </div>
            <!--/banner-ingo-->
        </div>
    </div>
}
else
{
    <partial name="_NoBannerSectionPartial" />
}
