@using CineMagic.Web.ViewModels.Privacies
@model PrivacyContentViewModel

@{
    this.ViewData["Title"] = "Privacy Policy";
}

<div class="privacy-content">
    <h1 class="text-center">@this.ViewData["Title"]</h1>
    @Html.Raw(Model.SanitizedContent)
</div>