@using CineMagic.Data.Models.Enums
@model CineMagic.Web.ViewModels.Actors.ActorEditViewModel

@{
    this.ViewData["Title"] = "Edit Actor";
    this.ViewData["ActivePage"] = ActorNavPages.Actors;
}

<h2>Edit <b>@Model.Name</b> with ID: @Model.Id</h2>
<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Edit" method="post">
            <div class="form-group">
                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ProfilePicPath"></label>
                <input asp-for="ProfilePicPath" class="form-control" />
                <span asp-validation-for="ProfilePicPath" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Biography"></label>
                <textarea asp-for="Biography" class="form-control"></textarea>
                <span asp-validation-for="Biography" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Gender"></label>
                <select asp-for="Gender" class="form-control" asp-items="@Html.GetEnumSelectList<Gender>().Skip(1)"></select>
                <span asp-validation-for="Gender" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthday"></label>
                <input asp-for="Birthday" class="form-control" />
                <span asp-validation-for="Birthday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deathday"></label>
                <input asp-for="Deathday" class="form-control" />
                <span asp-validation-for="Deathday" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Birthplace"></label>
                <input asp-for="Birthplace" class="form-control" />
                <span asp-validation-for="Birthplace" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Popularity"></label>
                <input asp-for="Popularity" class="form-control" />
                <span asp-validation-for="Popularity" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-success">Save changes</button>
        </form>
    </div>
</div>

